.indicateur li{
    background:#bfd70e;
    border-radius:50%;
    height:60px;
    width:60px;
    border:2px solid #679403;
    margin: 0.2%;
    float: left;
    padding: 1%;
    list-style: none;   /*permet de supprimer les puces*/

}


/*permet de selectionner 1 rond particulier !*/
.indicateur li:nth-child(4),.indicateur li:nth-child(7),.indicateur li:nth-child(12) {
background: red;
}
